@CHARSET "ISO-8859-1";

.tg  {border-collapse:collapse;border-spacing:0;ext-align:center}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;background-color:#c0c0c0;text-align:center}
#Priority{background-color:#00d2cb;text-align:center}